*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* overflow: hidden; */
}

@keyframes scrollLeft {
    to{
        left: -300px;
    }
}

.wrapper{
    width: 200%;
    mask-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1) 20%, rgba(0,0,0,1) 80%, rgba(0,0,0,0) );
}

.item{
    width: 320px;
    left: max(calc(290px * 8), 100%);
    animation-name: scrollLeft;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.item-1{
    animation-delay: calc(60s / 8 * ( 8 - 1) * -1);
}
.item-2{
    animation-delay: calc(60s / 8 * ( 8 - 2) * -1);
}
.item-3{
    animation-delay: calc(60s / 8 * ( 8 - 3) * -1);
}
.item-4{
    animation-delay: calc(60s / 8 * ( 8 - 4) * -1);
}
.item-5{
    animation-delay: calc(60s / 8 * ( 8 - 5) * -1);
}
.item-6{
    animation-delay: calc(60s / 8 * ( 8 - 6) * -1);
}
.item-7{
    animation-delay: calc(60s / 8 * ( 8 - 7) * -1);
}
.item-8{
    animation-delay: calc(60s / 8 * ( 8 - 8) * -1);
}
