*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* overflow: hidden; */
}

@keyframes scrollLeft {
    to{
        left: -300px;
    }
}

.wrapper{
    width: 100%;
    mask-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1) 20%, rgba(0,0,0,1) 80%, rgba(0,0,0,0) );
}

.item{
    width: 320px;
    left: max(calc(290px * 8), 100%);
    animation-name: scrollLeft;
    animation-duration: 90s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.item-1{
    animation-delay: calc(90s / 8 * ( 8 - 1) * -1);
}
.item-2{
    animation-delay: calc(90s / 8 * ( 8 - 2) * -1);
}
.item-3{
    animation-delay: calc(90s / 8 * ( 8 - 3) * -1);
}
.item-4{
    animation-delay: calc(90s / 8 * ( 8 - 4) * -1);
}
.item-5{
    animation-delay: calc(90s / 8 * ( 8 - 5) * -1);
}
.item-6{
    animation-delay: calc(90s / 8 * ( 8 - 6) * -1);
}
.item-7{
    animation-delay: calc(90s / 8 * ( 8 - 7) * -1);
}
.item-8{
    animation-delay: calc(90s / 8 * ( 8 - 8) * -1);
}


.TestimonialsDiv{
    mask-image: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,1) 10%, rgba(0,0,0,1) 90%, rgba(0,0,0,0) );
}

.glow-effect {
    box-shadow: 0 0 5px rgba(0, 255, 255, 0.8), 0 0 25px rgba(0, 255, 255, 0.6);
    animation: glow-animation 1.5s ease-in-out infinite;
  }
  
  @keyframes glow-animation {
    0% {
      box-shadow: 0 0 5px rgba(0, 255, 255, 0.8), 0 0 25px rgba(0, 255, 255, 0.6);
    }
    50% {
      box-shadow: 0 0 10px rgba(0, 255, 255, 1), 0 0 35px rgba(0, 255, 255, 0.8);
    }
    100% {
      box-shadow: 0 0 5px rgba(0, 255, 255, 0.8), 0 0 25px rgba(0, 255, 255, 0.6);
    }
  }


@keyframes slideUp {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-100%);
    }
  }


.testimonialCard-up{
    animation: 80s slideUp infinite linear;
}

@keyframes slideDown {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0%);
    }
  }

  @keyframes slideRight {
    from {
      transform: translateX(50%); /* Start fully offscreen to the right */
    }
    to {
      transform: translateX(-50%); /* End fully offscreen to the left */
    }
  }
  
  @keyframes slideLeft {
    from {
      transform: translateX(-50%); /* Start fully offscreen to the left */
    }
    to {
      transform: translateX(50%); /* End fully offscreen to the right */
    }
  }  

.testimonialCard-down{
    animation: 80s slideDown infinite linear;
}

@media screen and (min-width: 320px) {
  .item{
      width: 190px;
      left: max(calc(156px * 8), 100%);
  }

  .TestimonialsDiv{
      mask-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1) 10%, rgba(0,0,0,1) 90%, rgba(0,0,0,0) );
  }

  .testimonialCard-down{
      animation: 160s slideLeft infinite linear;
  }

  .testimonialCard-up{
      animation: 160s slideRight infinite linear;
  }
  

}

@media screen and (min-width: 375px) {
    .item{
        width: 220px;
        left: max(calc(190px * 8), 100%);
    }

    .TestimonialsDiv{
        mask-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1) 10%, rgba(0,0,0,1) 90%, rgba(0,0,0,0) );
    }

    .testimonialCard-down{
        animation: 160s slideLeft infinite linear;
    }

    .testimonialCard-up{
        animation: 160s slideRight infinite linear;
    }
    

}

@media screen and (min-width: 480px) {
    .item{
        width: 240px;
        left: max(calc(210px * 8), 100%);
    }

    .TestimonialsDiv{
        mask-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1) 10%, rgba(0,0,0,1) 90%, rgba(0,0,0,0) );
    }

    .testimonialCard-down{
        animation: 160s slideLeft infinite linear;
    }

    .testimonialCard-up{
        animation: 160s slideRight infinite linear;
    }
    

}

@media screen and (min-width: 640px) {
    .item{
        width: 240px;
        left: max(calc(210px * 8), 100%);
    }

    .TestimonialsDiv{
        mask-image: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,1) 10%, rgba(0,0,0,1) 90%, rgba(0,0,0,0) );
    }

    .testimonialCard-down{
        animation: 160s slideUp infinite linear;
    }

    .testimonialCard-up{
        animation: 160s slideDown infinite linear;
    }
    

}

@media screen and (min-width: 1024px) {
    .item{
        width: 260px;
        left: max(calc(230px * 8), 100%);
    }
    
    .TestimonialsDiv{
        mask-image: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,1) 10%, rgba(0,0,0,1) 90%, rgba(0,0,0,0) );
    }

    .testimonialCard-down{
        animation: 160s slideUp infinite linear;
    }

    .testimonialCard-up{
        animation: 160s slideDown infinite linear;
    }
}

@media screen and (min-width: 1280px) {
    .item{
        width: 310px;
        left: max(calc(280px * 8), 100%);
    }
    
    .TestimonialsDiv{
        mask-image: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,1) 10%, rgba(0,0,0,1) 90%, rgba(0,0,0,0) );
    }

    .testimonialCard-down{
        animation: 160s slideUp infinite linear;
    }

    .testimonialCard-up{
        animation: 160s slideDown infinite linear;
    }
}
@media screen and (min-width: 1536px) {
    .item{
        width: 350px;
        left: max(calc(320px * 8), 100%);
    }
    
    
}



  