@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans&family=Lato&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



.dark{
    --background: 13, 13, 13;
    --border: 53, 53, 53;
    --card: 20, 20, 20;
    --service-card: 17, 17, 17;
    --text-heading: 255, 255, 255;
    --text-description: 193, 193, 193;
    --custom-gradient: linear-gradient(125.81deg, #1E1E1E 4.31%, #1D1D1D 22.95%, #1C1C1C 41.59%, #1B1B1B 60.23%, #1A1A1A 79.24%, #191919 97.5%);
    --nav-text-hover: 131, 86, 251;
    --accent-green: 128, 255, 96;

    background: rgba(var(--background));
}


