@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans&family=Lato&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



.dark{
    --background: 13, 13, 13;
    --logo-bg: 250, 250, 250;
    --nav-bg: 27, 27, 27;
    --nav-border: 53, 53, 53;
    --nav-text: 255, 255, 255;
    --nav-text-hover: 131, 86, 251;
    --nav-btn-text: 255, 255, 255;
    --text-heading: 255, 255, 255;
    --text-description: 193, 193, 193;
    --border: 53, 53, 53;
    --badge-bg: 128, 255, 96;
    --badge-text: 128, 255, 96;
    --service-btn-bg: 27, 27, 27;
    --card-bg: 20, 20, 20;
    --work-icon-bg: 131, 86, 251;
    --work-icon-text: 255, 255, 255;
    --footer-icon-text: 193, 193, 193;

  }
  
.light{
    --background: 250, 250, 250;
    --logo-bg: 131, 86, 251;
    --nav_bg: 245, 245, 245;
    --nav-border: 225, 225, 225;
    --nav-text: 13, 13, 13;
    --nav-text-hover: 131, 86, 251;
    --nav-btn-text: 255, 255, 255;
    --text-heading: 33, 33, 33;
    --text-description: 73, 73, 73;
    --border: 225, 225, 225;
    --badge-bg: 131, 86, 251;
    --badge-text: 131, 86, 251;
    --service-btn-bg: 245, 245, 245;
    --card-bg: 255, 255, 255;
    --work-icon-bg: 131, 86, 251;
    --work-icon-text: 255, 255, 255;
    --footer-icon-text: 33, 33, 33;
}


